@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

body {
font-family:Sansita Swashed;
}

header {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-flow:row nowrap;
    list-style: none;
}

li + li {
    margin-left: 24px;
}

button {
    background-color: hsl(231, 98%, 24%);
    color: hsl(231, 98%, 98%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

#error {
    font-size: 50px;
    text-align: center;
}

#error + h2{
    text-align: center;
    text-decoration: underline;
}

th > img {
    height: 150px;
    width: 160px;
    padding: 15px;
}

#Stacey {
    width: 600px;
    height: 350px;
    max-width: 100%;
    padding-top: 30px;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p, h4 {
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

#site{
    height:200px;
    width: 500px;
}

#testimonials{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    padding-top: 30px;
}

#box{
    grid-column: 1 / span 2;
    justify-self: center;
    padding-top: 30px;
}

figcaption {
    text-align: center;
    padding-top: 30px;
}

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3.5fr 1.5fr .5fr;
    
}

.icon {
    height: 50px;
    width: 50px;
}

#social {
    float: right;
} 
#footer2 {
    display: grid;
    grid-template-rows: auto;   
    grid-template-columns: 1fr 1fr;
}
