@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

body {
font-family:Sansita Swashed;
}

header {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-flow:row nowrap;
    list-style: none;
}

li + li {
    margin-left: 24px;
}

button {
    background-color: hsl(231, 98%, 24%);
    color: hsl(231, 98%, 98%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

#error {
    font-size: 50px;
    text-align: center;
}

#error + h2{
    text-align: center;
    text-decoration: underline;
}

main {
    padding-top: 6em;
    width: 40%;
    float: left;
    padding-left: 5%;
}

article {
    padding-top: 6em;
    width: 40%;
    float: right;
    padding-right: 5%;
}

th > img {
    height: 90px;
    width: 100px;
}

th:nth-child(2) {
    padding-left: 25px;
    padding-right: 25px;
}

th {
    padding-bottom: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#Stacey {
    width: 600px;
    height: 350px;
    max-width: 100%;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p, h4 {
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

#box{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#site{
    height:2em;
}